! VERSION=6.0
!IMTA fat controller configuration file
!
!Global defaults
use_nslog=1
debug=10
secret=PYsiN1~VhMz
slave_command=NULL
tcp_port=27442
!
! Uncomment the following line and set interface_address to an appropriate
! host IP (dotted quad) if the Job Controller needs to listen on a specific
! interface (e.g. in a HA environment).   Copy the resulting line to
! job_controller.site
!interface_address=
!
!-----------------------------------------------
! Site specific pools and channels are read
! indirectly if this include file exists.
!
<IMTA_TABLE:job_controller.site
!
!-----------------------------------------------
!
! The following have been moved to the new Job Scheduler.  Use of
! the Job Controller for scheduling periodic tasks is deprecated
! as of V6.0.  The functionality will be removed in a future release
![PERIODIC_JOB=return]
!command=IMTA_BIN:return_job
!time=00:30/24:00
!
![PERIODIC_JOB=purge]
!command=IMTA_BIN:purge -num=5
!
!Pool definitions
!
[POOL=DEFAULT]
job_limit=10
!
[POOL=IMS_POOL]
job_limit=2
!
[POOL=SMTP_POOL]
job_limit=10
!
!Channel definitions
!
[CHANNEL=bitbucket]
master_command=IMTA_BIN:bitbucket
!
[CHANNEL=bsmtp*]
master_command=IMTA_BIN:bsout_master
slave_command=IMTA_BIN:bsin_master
!
[CHANNEL=conversion*]
master_command=IMTA_BIN:conversion
!
[CHANNEL=defragment]
master_command=IMTA_BIN:defragment
!
[CHANNEL=ims-ms*]
max_life_age=14400
max_life_conns=20000
master_command=IMTA_BIN:ims_master
!
[CHANNEL=native]
master_command=IMTA_BIN:l_master
!
[CHANNEL=pipe*]
master_command=IMTA_BIN:pipe_master
!
[CHANNEL=process*]
master_command=IMTA_BIN:reprocess
!
[CHANNEL=sms*]
master_command=IMTA_BIN:sms_master
!
[CHANNEL=tcp_*]
master_command=IMTA_BIN:smtp_client
!
[CHANNEL=reprocess*]
master_command=IMTA_BIN:reprocess
!
[CHANNEL=uucp_*]
master_command=IMTA_BIN:uucp_master
slave_command=IMTA_BIN:uucp_slave
!
[CHANNEL=hold]
master_command=IMTA_BIN:reprocess
!
[CHANNEL=filter_discard]
