[ req ]
default_bits = 1024
prompt = no
distinguished_name = default_dn
x509_extensions = v3_req
    
[ default_dn ] 
commonName = india.sun.com
organizationName = "Communication Group"
localityName = Bangalore
stateOrProvinceName = Karnataka
countryName =IN 
emailAddress = bakhru@sun.com

[ v3_req ]
basicConstraints = CA:FALSE
subjectKeyIdentifier = hash
subjectAltName=DNS:india.sun.com,otherName:1.3.6.1.5.5.7.8.5;UTF8:india.sun.com,otherName:1.3.6.1.5.5.7.8.5;UTF8:muc.india.sun.com

[ serverex ]
extendedKeyUsage=1.3.6.1.5.5.7.3.1
