# This is just an example file to show SMTP_AUTH aka SASL_AUTH session


root@algy:/opt/sun/comms/messaging64/log# telnet 0 25
Trying 0.0.0.0...
Connected to 0.
Escape character is '^]'.
220 algy.red.iplanet.com -- Server ESMTP (Sun Java(tm) System Messaging Server 7.0-4.01 64bit (built Jan  8 2009))
ehlo
250-algy.red.iplanet.com
....
...
..
250-STARTTLS
250-AUTH DIGEST-MD5 PLAIN LOGIN CRAM-MD5
250-AUTH=LOGIN
250-ETRN
250-NO-SOLICITING
250 SIZE 0
(Enter AUTH PLAIN and username\0username\0password in base64 encoded form)
AUTH PLAIN YW1pdDMAYW1pdDMAYW1pdDM=
235 2.7.0 PLAIN authentication successful.
mail from: amit3
250 2.5.0 Address Ok.
rcpt to: amit4
250 2.1.5 amit4 OK.
data
354 Enter mail, end with a single ".".
Subject: asdfasdfadsfasdfasdf
asfasdfasd
.
250 2.5.0 Ok, envelope id 0KF100L086PVER00@algy.red.iplanet.com
quit
221 2.3.0 Bye received. Goodbye.
Connection to 0 closed by foreign host.
