current_dir=`pwd`
cd /space/amit/setup_scripts
. common.sh

#test logiC
create_instance s2s_server 2
configure s2s_server 1 enable identity
configure s2s_server 2 enable identity
configure s2s_server 2 enable s2s
configure s2s_server 1 enable s2s
configure s2s_server 1 enable tls
operation s2s_server 1 start
sleep 5
operation s2s_server 1 stop

echo "You sure you want to delete all the directories?[y/n]:"
read response
if [ "$response" == "y" ]
then
	clean amit
	clean peer
fi

#test logiC ends
cd $current_dir
